{% extends 'base.html' %}
{% load static %}
{% load product_tags %}

    {% block content %}
    {% block Script %}
        <script>
            $(document).ready(function(){
                $(".filter-checkbox").on('click', function(){
                    var filter_object={};
                    $(".filter-checkbox").each(function(index,ele){
                        var filter_value=$(this).val();
                        var filter_key=$(this).data('filter');
                        console.log(filter_key,filter_value);
                        filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                             return el.value;
                        });
                    });
                    $.ajax({
                        url:'{% url 'filter-data' %}',
                        data:filter_object,
                        dataType:'json',			
                        success:function(res){				
                            $("#filteredProducts").html(res.data);
                            $("#filteredProduct").html(res.data);				
                        }
                    });
                });
            });
            </script> {% endblock %}
        <!-- BEGIN #slider -->
      
        <div id="slider" class="section-container p-0 bg-black-darker">
           
            <!-- BEGIN carousel -->
            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                
                <!-- BEGIN carousel-inner -->
                <div class="carousel-inner"> 
                    {% for al in all7 %}
                    <div class="item active">
                        
                        <img src="{{al.background_cover_image.url}}" class="bg-cover-img" alt="" />
                        <div class="container">
                            <img src="{{al.product_image.url}}" class="product-img right bottom fadeInRight animated" alt="" />
                        </div>
                        <div class="carousel-caption carousel-caption-left">
                            <div class="container">
                                <h3 class="title m-b-5 fadeInLeftBig animated">{{al.product_heading}}</h3> 
                                <p class="m-b-15 fadeInLeftBig animated">{{al.animated_text_description}}</p>
                                <div class="price m-b-30 fadeInLeftBig animated"><small>{{al.small_animated_word}}</small> <span>${{al.product_price}}</span></div>
                          
                                <a href="#" class="btn btn-outline btn-lg fadeInLeftBig animated">Buy Now</a>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
               
                <!-- END carousel-inner -->
                <a class="left carousel-control" href="#main-carousel" data-slide="prev"> 
                    <i class="fa fa-angle-left"></i> 
                </a>
                <a class="right carousel-control" href="#main-carousel" data-slide="next"> 
                    <i class="fa fa-angle-right"></i> 
                </a>
            </div>
            <!-- END carousel -->
           
        </div>
        <!-- END #slider -->
        
        <!-- BEGIN #promotions -->
        <div id="promotions" class="section-container bg-white">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->

                <h4 class="section-title clearfix">
                    <a href="product" class="pull-right">SHOW ALL</a>
                    Exclusive promotions
                    <small>from 25 September 2016 - 1 January 2017</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN row -->
                <div class="row row-space-10">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <!-- BEGIN promotion -->
                        <div class="promotion promotion-lg bg-black-darker">
                            <div class="promotion-image text-right promotion-image-overflow-bottom">
                                <img src="{% static '/assets/img/iphone-se.png' %}" alt="" />
                            </div>
                            <div class="promotion-caption promotion-caption-inverse">
                                <h4 class="promotion-title">iPhone SE</h4>
                                <div class="promotion-price"><small>from</small> $299.00</div>
                                <p class="promotion-desc">A big step for small.<br />A beloved design. Now with more to love.</p>
                                <a href="#" class="promotion-btn">View More</a>
                            </div>
                        </div> 
                        <!-- END promotion -->
                    </div>
                   
                   
                    <!-- END col-6 --> {% for product in page %}
                  
                    <!-- BEGIN col-3 --> 
                    <div class="col-md-3 col-sm-6">
                        <!-- BEGIN promotion -->
                       <a href="{{product.get_absolute_url}}">
                        <div class="promotion bg-blue">
                            <div class="promotion-image promotion-image-overflow-bottom promotion-image-overflow-top">
                                <img src="{{product.image.url}}" alt="" />
                            </div>
                            <div class="promotion-caption promotion-caption-inverse text-right">
                                
                                <h4 class="promotion-title">{{product.name}}</h4>
                                <div class="promotion-price"><small>from</small> $ {% call_sellprice product.price product.Discount %} <span><del>{{product.price}}</del></span> </div>
                                
                            </div>
                        </div>
                        <br>
                    </a>
                        <!-- END promotion -->
                       
                   
                    </div>
                    <!-- END col-3 --> 
                   
                    {% endfor %}
                </div>
                <!-- END row -->
               
            </div>
            <!-- END container -->
        </div>
        <!-- END #promotions -->
      
        <!-- BEGIN #trending-items -->
        <div id="trending-items" class="section-container bg-silver">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="product" class="pull-right">SHOW ALL</a>
                    Trending Items
                    <small>Shop and get your favourite items at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                
                <!-- BEGIN row -->
                <div class="row row-space-10" >
                    <!-- BEGIN col-2 -->{% for product in page1 %}
                    
                    <div class="col-md-2 col-sm-4" >
                        <!-- BEGIN item -->
                        <div class="item item-thumbnail">
                            <a href="{{product.get_absolute_url}}" class="item-image">
                                <img src="{{product.image.url}}" alt="" />
                                <div class="discount">{{product.Discount}}%</div>
                            </a>
                            <div class="item-info">
                                <h4 class="item-title">
                                    <a href="{% url 'product' %}">{{product.name}}<br /></a>
                                </h4>
                                <p class="item-desc">{{product.short_description}}</p>
                                <div class="item-price">{{product.price}}$</div>
                                <div class="item-discount-price">{{product.discount_price}}</div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>
                   
                    {% endfor %}
                   
                   
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #trending-items -->
    
        <!-- BEGIN #mobile-list -->
        <div id="mobile-list" class="section-container bg-silver p-t-0">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="product" class="pull-right">SHOW ALL</a>
                    Mobile Phones
                    <small>Shop and get your favourite phone at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN category-container -->
                <div class="category-container">
                    <!-- BEGIN category-sidebar -->
                    <div class="category-sidebar">
                        <ul class="category-list">
                            
                            <li class="list-header">Top Categories</li> <form action="#">
                                {% for i in categories %}
                                <div class="single-widget-category">
                                   <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                   <label for="{{i.id}}">{{i.name}} </span></label>
                                </div>
                                {% endfor %}
                            </form>
                    </div>
                    <!-- END category-sidebar -->
                    <!-- BEGIN category-detail -->
                    <div class="category-detail">
                        <!-- BEGIN category-item -->
                        <a href="#" class="category-item full">
                            <div class="item">
                                <div class="item-cover">
                                    <img src="{% static '/assets/img/samsung-s7-edge.jpg' %}" alt="" />
                                </div>
                                <div class="item-info bottom">
                                    <h4 class="item-title">Samsung 7 </h4>
                                    <p class="item-desc">Redefine what a phone can do</p>
                                    <div class="item-price">$799.00</div>
                                </div>
                            </div>
                        </a>
                       
                        <!-- END category-item -->
                        <!-- BEGIN category-item -->
                       
                        <div class="category-item list" id="filteredProducts">
                            <!-- BEGIN item-row -->
                            <div class="item-row"> {% for product in products %}
                                {% if product.section.name == 'Mobile Phones' %}
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="{{product.get_absolute_url}}" class="item-image">
                                        <img src="{{product.image.url}}" alt="" />
                                        <div class="discount">{{product.Discount}}% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="{{product.get_absolute_url}}">{{product.name}}<br />16GB</a>
                                        </h4>
                                        <p class="item-desc">{{product.tags}}.</p>
                                        <div class="item-price">${{product.price}}</div>
                                        
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <!-- END item -->
                                
                            </div>
                            <!-- END item-row -->
                        </div>
                        <!-- END category-item -->
                    </div>
                    <!-- END category-detail -->
                </div>
                <!-- END category-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #mobile-list -->
    
      
        <!-- BEGIN #tablet-list -->
        <div id="tablet-list" class="section-container bg-silver p-t-0">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN section-title -->
                <h4 class="section-title clearfix">
                    <a href="#" class="pull-right">SHOW ALL</a>
                    Tablet
                    <small>Shop and get your favourite tablet at amazing prices!</small>
                </h4>
                <!-- END section-title -->
                <!-- BEGIN category-container -->
                <div class="category-container">
                    <!-- BEGIN category-sidebar -->
                    <div class="category-sidebar">
                        <ul class="category-list">
                            
                            <li class="list-header">Top Categories</li>  <form action="#">
                                {% for i in categories %}
                                <div class="single-widget-category">
                                   <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                   <label for="{{i.id}}">{{i.name}} </span></label>
                                </div>
                                {% endfor %}
                            </form>
                    </div>
                    <!-- END category-sidebar -->
                    <!-- BEGIN category-detail -->
                    <div class="category-detail">
                        <!-- BEGIN category-item -->
                        <a href="#" class="category-item full">
                            <div class="item">
                                <div class="item-cover">
                                    <img src="assets/img/huawei-mediapad.jpg" alt="" />
                                </div>
                                <div class="item-info bottom">
                                    <h4 class="item-title">Huawei MediaPad T1 7.0</h4>
                                    <p class="item-desc">Vibrant colors. Beautifully displayed</p>
                                    <div class="item-price">$299.00</div>
                                </div>
                            </div>
                        </a>
                        <!-- END category-item -->
                        <!-- BEGIN category-item -->{% for product in products %}
                    
                                {% if product.section.name == 'Tablet' %}
                               
                        <div class="category-item list" >
                            <!-- BEGIN item-row -->
                            <div class="item-row" id="filteredProduct">
                                <!-- BEGIN item -->
                                <div class="item item-thumbnail">
                                    <a href="{{product.get_absolute_url}}" class="item-image">
                                        <img src="{{product.image.url}}" alt="" />
                                        <div class="discount">{{product.Discount}}% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="{{product.get_absolute_url}}">{{product.name}}<br />32GB</a>
                                        </h4>
                                        <p class="item-desc">{{product.tags}}</p>
                                        <div class="item-price">${{product.price}}.00</div>
                                        
                                    </div>
                                </div>
                                <!-- END item -->
                                
                               
                                <!-- END item -->
                            </div>
                            <!-- END item-row -->
                        </div>{% endif %}
                        {% endfor %}
                        <!-- END category-item -->
                    </div>
                    <!-- END category-detail -->
                </div>
                <!-- END category-container -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #tablet-list -->

        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Free Delivery Over $100</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>1 Year Warranty For Phones</h4>
                                <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>6 Month Warranty For Accessories</h4>
                                <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->
    
        <!-- BEGIN #subscribe -->
        <div id="subscribe" class="section-container bg-silver p-t-30 p-b-30">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN subscription -->
                        <div class="subscription">
                            <div class="subscription-intro">
                                <h4> LET'S STAY IN TOUCH</h4>
                                <p>Get updates on sales specials and more</p>
                            </div>
                            <div class="subscription-form">
                                <form name="subscription_form" action="index.html" method="POST">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="email" placeholder="Enter Email Address" />
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-inverse"><i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END subscription -->
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- BEGIN social -->
                        <div class="social">
                            <div class="social-intro">
                                <h4>FOLLOW US</h4>
                                <p>We want to hear from you!</p>
                            </div>
                            <div class="social-list">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                        <!-- END social -->
                    </div>
                    <!-- END col-6 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #subscribe -->
    
      
</body>

<hr>

</html>


{% endblock %}

